body{
    background-color: hsl(30, 38%, 92%);
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    width: 27rem;
    height: 20rem;
    flex-direction: row;

    border-radius: 5%;
}

.image{
    
    text-align: left;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.text_container{
    text-align: left;
    padding: 1.2rem;
    
}

.header1{
    font-size: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4rem;
    
}

.header2{
    font-size: 1.6rem;
    font-family: 'Fraunces', serif;
    line-height: 1.5rem;

}

.text{
    font-size: 0.8rem;
    line-height: 1.2;
    font-family: 'Fraunces', serif;
}

.card__price{
    display: flex;
    align-items: center;
    color: hsl(158, 36%, 37%);
}

.card__price-now{
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
}

.card__price-before{
    padding-left: 1.2rem;
    text-decoration: line-through; 
    font-family: 'Fraunces', serif;
    font-size: 0.8rem;
}

.button_buy{
    background-color: hsl(158, 36%, 37%);
    display: flex;
    margin-left: 0.5rem;
    width: 10rem;
    height: 1.7rem;
    flex-direction: row;
    border-radius: 10%;
    border: none;
    color:  hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 300;

}
